.App {
  text-align: center;
  background-color: #303d58;
}


.App-header {
  background-color: #303d58;
  min-height: 10vh;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }




.header-list{
  display: flex;
  color: white;
}

.header-name{
  padding-right: 35px;
}






.header-icons{
 flex: auto;
 float: right;
}

.app-body{
  background-color: #303d58;
  color: white;

}


.list-link{
  color: white;
}


.projects{
  min-height: 60vh;
}

.about{
  min-height: 60vh;
}

.contact{
  min-height: 60vh;
}