.App {
  text-align: center;
  background-color: #303d58;
}


.App-header {
  background-color: #303d58;
  min-height: 10vh;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}


.header-list{
  display: flex;
}

.header-name{
  padding-right: 35px;
}




.header-icons{
 flex: auto;
 float: right;
}

.app-body{
  background-color: #303d58;
  color: white;

}
