.App {
  text-align: center;
  background-color: #303d58;
}


.App-header {
  background-color: #303d58;
  min-height: 10vh;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }




.header-list{
  display: flex;
  color: white;
}

.header-name{
  padding-right: 35px;
}






.header-icons{
 flex: auto;
 float: right;
}



.icon:hover{
  background-color: antiquewhite;
  border-radius: 10px;
}

.app-body{
  background-color: #303d58;
  color: white;
  padding-top: 75px;

}


.list-link{
  color: white;
}


.projects{
  min-height: 60vh;
}



.contact{
  min-height: 60vh;
}

.projects-showcase{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
  grid-row-gap: 30px;
  
  /* grid-template-columns: 200px 200px 200px; */
}


.projects-showcase img{
  height: 200px;
  width: 400px;
}

.projects-showcase img:hover{
  opacity: .5;
}


.project-card{
  width: 400px;
  box-shadow: 3px 3px 10px 0px #c5c4c4, 0 3px 10px 0 #c5c4c4;
  }

  .project-card a {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 20%;
    background-color:darkslategrey;
    
  }

  .project-card a:hover{
    background-color: darkcyan;
  }
  
 .reference-link1{
  margin-right: 15px;
 }

 .reference-link2{
  margin-left: 15px;
 }



.about{
  min-height: 60vh;
  padding-top: 120px;
  display: flex;
  justify-content: space-evenly;
}

  .about-div{
    min-height: 80vh;
    min-width: 70vh;
    
  }

  .technologies-div{
    min-height: 80vh;
    min-width: 70vh;
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(3, 1fr);
  }

  .technologies-div img{
    height: 100px;
    width: 80px;
  }


.software{
  color: rgb(251, 222, 185);
}

.softwares{
    word-spacing: 12px;
    color: rgb(251, 222, 185);
  }

  

